<h2>before</h2>

<div class="p-grid" flex-column>
  <div class="p-col-12 p-md-6 p-lg-3 p-flex-sm-nowrap">A</div>
  <div class="p-col-12 p-md-6 p-lg-3">B</div>
  <div class="p-col-12 p-md-6 p-lg-3">C</div>
  <div class="p-col-12 p-md-6 p-lg-3">D</div>
</div>

<h2>after</h2>
<div class="grid">
  <div class="col-12 md:col-6 lg:col-3 sm:flex-nowrap">A</div>
  <div class="col-12 md:col-6 lg:col-3">B</div>
  <div class="col-12 md:col-6 lg:col-3">C</div>
  <div class="col-12 md:col-6 lg:col-3">D</div>
</div>

<div class="card">
  <div class="card-container blue-container flex align-items-center justify-content-start">
      <div class="hidden w-4rem h-4rem bg-blue-500 text-white font-bold p-4 border-round mr-3">1</div>
      <div class="w-4rem h-4rem bg-blue-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round mr-3">2</div>
      <div class="w-4rem h-4rem bg-blue-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round">3</div>
  </div>
</div>

<hr>

<div class="card">
  <div class="card-container yellow-container">
      <div class="block bg-yellow-500 font-bold text-center p-4 border-round mb-3">1</div>
      <div class="block bg-yellow-500 font-bold text-center p-4 border-round mb-3">2</div>
      <div class="block bg-yellow-500 font-bold text-center p-4 border-round mb-3">3</div>
  </div>
</div>

<hr>
<div class="card py-6">
  <div class="card-container green-container p-0">
      <div class="inline w-4rem h-4rem bg-green-500 text-white font-bold text-center p-4 border-round mx-4">1</div>
      <div class="inline w-4rem h-4rem bg-green-500 text-white font-bold text-center p-4 border-round">2</div>
      <div class="inline w-4rem h-4rem bg-green-500 text-white font-bold text-center p-4 border-round mx-4">3</div>
  </div>
</div>
